
DockablePanel
{
	/* backgroundAlpha: 1.0; controls the alpha of the panel content area. */
	backgroundColor: #FFFFFF;
	backgroundAlpha:0.4;
	borderAlpha: 0.4; /* controls the alpha of the panel top, bottom and sides. */
	borderColor: #E2E2E2;
	borderSkin: ClassReference("mx.skins.halo.PanelSkin");
	borderStyle: "solid";
	borderThickness: 0;
	/* borderThicknessBottom is NaN */
	borderThicknessLeft: 10;
	borderThicknessRight: 10;
	borderThicknessTop: 2;
	cornerRadius: 4;
	dropShadowEnabled: true;
	paddingBottom: 4;
	paddingLeft: 5;
	paddingRight: 5;
	paddingTop: 18;
	resizeEndEffect: "Dissolve";
	resizeStartEffect: "Dissolve";
	roundedBottomCorners: false;
	statusStyleName: "windowStatus";
	titleBackgroundSkin: ClassReference("mx.skins.halo.TitleBackground");
	titleStyleName: "windowStyles";
	headerHeight:18;                  
}


DockableTabNavigator
{
	backgroundColor: #FFFFFF;
	borderColor: #AAB3B3;	/* used for edge of tab's content area, */
	borderStyle: "solid";
	horizontalAlign: "left";
	horizontalGap: -1;
	paddingTop: 0;
	tabOffset: 0;
}
DockHint {
	hintSkin:ClassReference("net.goozo.mx.dockalbe.DockHint");
	hintColorIn: #00FFFF;
	hintColorOut: #FFFF00;
	hintAlpha: 0.3;
	hintRadius: 4;
}

